







/*.profile {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 880px;
}

@media screen and (max-width: 980px) {
    .profile {
        margin: 0 50px;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        margin: 0 25px;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 420px) {
    .profile {
        margin: 0;
    }
}

.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    margin: 3.75px 26.25px 3.75px 0;
}

@media screen and (max-width: 600px) {
    .profile__avatar {
        margin: 0;
    }
}

.profile__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    max-height: 73px;
}

@media screen and (max-width: 600px) {
    .profile__info {
        justify-content: center;
        margin: 22.25px auto 36px;
        max-width: 282px;
    }
}

.profile__info-name {
    margin: 0;
    max-width: 294px;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
}

@media screen and (max-width: 600px) {
    .profile__info-name {
        padding-left: 46px;
        font-size: 27px;
        line-height: 1;
    }
}

.profile__info-profession {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    margin: 16px 0 0;
}

@media screen and (max-width: 600px) {
    .profile__info-profession {
        font-size: 14px;
        line-height: 1;
        margin: 14px 0 0;
    }
}

.profile__edit-button {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    min-width: 24px;
    min-height: 24px;
    background-color: #000;
    align-self: center;
    padding: 0;
    margin-left: 18px;
}

@media screen and (max-width: 600px) {
    .profile__edit-button {
        min-width: 18px;
        min-height: 18px;
    }
}

.profile__edit-button_logo {
    max-width: 10px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .profile__edit-button_logo {
        max-width: 7.5px;
        display: block;
        margin: auto;
    }
}

.profile__add-button {
    min-width: 150px;
    min-height: 50px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: #000;
    padding: 0;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        min-width: 50px;
    }
}

@media screen and (max-width: 600px) {
    .profile__add-button {
        min-width: 282px;
        margin: 0;
    }
}

.profile__add-button_logo {
    max-width: 22px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .profile__add-button_logo {
        max-width: 16px;
    }
}*/

/*.header {
    max-width: 880px;
    padding: 45px 200px 40px 200px;
}

.header__logo {
    max-width: 142px;
    margin-bottom: 41px;
}

.header__line {
    border: 1px solid #545454;
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 45px 100px 40px 100px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 28px 0 42px 0;
    }
}


@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 103.74px;
        margin-bottom: 31.6px;
        margin-left: 27px;
    }
}

@media screen and (max-width: 767px) {
    .header__line {
        max-width: 767px;
    }
}*/