.profile__add-button-logo {
    max-width: 22px;
    margin: 0 auto;
}

.profile__add-button-logo:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .profile__add-button-logo {
        max-width: 16px;
    }
}