.header {
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 40px;
}

@media screen and (max-width: 980px) {
    .header {
        padding: 45px 50px 40px 50px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 28px 25px 42px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 28px 0 42px;
    }
}

