.profile__edit-button_logo {
    max-width: 10px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .profile__edit-button_logo {
        max-width: 7.5px;
        display: block;
        margin: auto;
    }
}