.element__reaction {
    max-width: 22px;
    max-height: 19px;
}

.element__reaction:hover {
    opacity: 0.5;
}

.element__reaction:active {
    background: url('../../../images/Like_active.svg');
    opacity: 1;
}