.profile__info {
    max-width: 336px;
}

@media screen and (max-width: 700px) {
    .profile__info {
        max-width: 245px;
    }
}

@media screen and (max-width: 600px) {
    .profile__info {
        margin: 22.25px auto 36px;
        min-width: 282px;
    }
}