.profile__info-profession {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    margin: 16px 0 0;
}

@media screen and (max-width: 600px) {
    .profile__info-profession {
        font-size: 14px;
        line-height: 1;
        margin: 14px 0 0;
    }
}